# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# Environment Variables (SENSITIVE)
.env

# IDE - IntelliJ IDEA
.idea/
*.iml
out/
gen/

# IDE - VS Code
.vscode/

# OS Files
Thumbs.db
.DS_Store

# Log files
*.log

# Node / Frontend
node_modules/
**/node_modules/

# Vite cache
.vite/
**/.vite/

# Build output
dist/
**/dist/

# FE env (nếu muốn ignore, bỏ comment dòng dưới)
# Developments/FE/FE_2/.env